*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}
/*  index starts  */
.wrapper{
    position: relative;
    width: 350px;
    height: 550px;
    background: #000;
    border-radius: 10px;
    border: 2px solid #0ef;
}
.world-clock-homepage{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 43px;
    color: #0ef;
    margin-bottom: 100px;
    margin-left: 10px;
}
.time span{
    font-size: 40px;
    width:40px;
    display: inline-block;
    text-align: center;
    position: relative;
    align-items: center;
    left: 17%;
    margin-bottom: 60px;
    color:#0ef;
}
.country{
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: -10px;
    color:#0ef;
}
.displayDate span{
    font-size: 13px;
    width: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    align-items: center;
    left: 30%;
    margin-bottom: 100px;
    color:#0ef;
}
#date{
    margin-left: -30px;
    
}
#month{
    margin-left: -10px;
}
.plus-sign{
    font-size: 50px;
    text-align: center;
    margin-bottom: -30px;
    color:rgb(202, 26, 55);
}
.sections{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: -10px;
    
}
a{
    text-decoration: 0;
    color:#0ef;
}

.home{
    margin: 35px;
}
.alarm{
    margin: 35px;
}
.stopwatch{
    margin: 35px;
}
.timer{
    margin: 35px;
}

/* index ends */

/* world starts */
.world{
    border: 2px solid rgb(226, 13, 159);
    color: white;

}
.header{
    margin-top: 10px;
    padding: 0 16px;
    margin-bottom: 20px;
}
.search-city{
    padding: 0 20px;
}
input{
    margin-top: 10px;
    width: 310px;
    padding: 0 30px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid rgb(226, 13, 159);
    outline: 0;
    background-color: rgba(61, 57, 57, 0.765);
}
option{
    margin-top: 20px;
    
    margin-left: 20px;
    margin-right: 60px;
}


/* world ends */

/* alarm starts */
.alarm {
    border: 2px solid rgb(225, 90, 113);
}
/* alarm ends */

/* stopwatch starts */
.stopwatch{
    border: 2px solid rgb(0, 255, 94);
}

/* stopwatch ends */

/* timer starts */
.timer{
    border: 2px solid rgb(255, 221, 0);
}

/* timer ends */